:root {
  --color-angular-red: #dd0031;
  --color-juego1-green: #04ff25;
  --color-juego1-hover: #05a71a;
  --color-juego2-blue: #00c3dd;
  --color-juego2-hover: #0893a5;
  --color-texto-oscuro: #333;
  --color-texto-claro: #555;
  --color-fondo-claro: #ffffff;
  --sombra-tarjeta: 0 4px 6px rgba(0, 0, 0, 0.1);
  --sombra-tarjeta-hover: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#background-video {

  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

}

/* Asegurandose también de que el body no tenga márgenes
  que puedan causar barras de scroll inesperadas
*/

body, html {
  margin: 0;
  padding: 0;
  background-color: transparent; 

}